*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Quicksand", serif;
}
.all-content{
    max-width: 1440px;
    margin: 0 auto;
}
/* shared style */
.display-flex{
    display: flex;
}
.primary-btn{
    border: none;
    font-size: 1.25rem;
    padding: 10px 30px;
    background-color: rgb(254, 163, 1);
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
}

/* menubar section design */
.header{
    margin-top: 50px;
    margin-bottom: 80px;
}
.menuBar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.navBar ul{
    gap: 30px;
}
.logo{
    gap: 10px;
    align-items: center;
}
.logoTitle{
    font-size: 1.9rem;
    font-weight: 700;
    color: black;
}
.navBar ul li a{
    font-size: 1.25rem;
    font-weight: 600;
}
a.Home{
    color: orange;
}
a.about{
    color: skyblue;
}
a.facilities{
    color: rgba(5, 212, 223, 1);
}
a.admission{
    color: rgba(93, 88, 239, 1);
}
.toggle-btn{
    display: none;
}
.toggle-btn i{
    font-size: 1.75rem;
    color: #000;
    font-weight: 700;
}
/* banner section design */
.banner-details{
    max-width: 648px;
}
.banner{
    /* gap: 315px; */
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.embar{
    color: rgb(254, 163, 1);
}
.vision{
    color: rgb(1, 172, 253);
}
.banner-description{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 26px;
    color: rgb(17, 17, 17);
    margin-bottom: 20px;
}
.enroll a{
    color: #fff;
}
.enroll{
    background-color: rgb(17, 17, 17);
}
.banner-image img{
    width: 100%;
}
/* curriculum section design */
.curriculum{
    background-image: url(images/bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}
.curriculum-title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}
.curriculum-card{
    justify-content: space-evenly;
    margin-bottom: 80px;
    gap: 30px;
}
.card{
    text-align: center;
    padding: 30px;
    border: 2px solid black;
    max-width: 370px;
}

.card1{
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card2{
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card3{
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-title{
    font-size: 1.5rem;
    margin: 20px 0;
    font-weight: 700;
    color: rgb(32, 32, 32);
}
.card-details{
    font-size: .9rem;
    font-weight: 600;
    line-height: 25px;
    text-align: justify;
    text-align-last: center;
    word-spacing: -1px;
    margin-bottom: 25px;
}
h5.kinder{
    font-size: 1.2rem;
    font-weight: 600;
    color: skyblue;
    
}
.h5{
    padding-top: 10px;
    padding-bottom: 20px;
}
.kinder1{
    color: rgb(100, 200, 255);
}
.kinder2{
    color: rgb(240, 170, 0);
}
.kinder3{
    color: rgb(135, 0, 255);
}
.arrow-btn{
    text-align: center;
    margin-bottom: 100px;
}
.right{
    background-color: orange;
    border: none;
    /* padding: 10px; */
    margin-right: 10px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.right a{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
}
/* curriculum section end */
/* stories section */
.stories{
    
    margin: 0 auto;
    background: url(images/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
   
}
.story-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1160px;
    margin: 0 auto;
}
#box-1{
    grid-row: span 2;
}
.story-title{
    font-size: 2.9rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 80px;
    text-align: center;
}
.story-card5{
   border-radius: 16px;
   border: 1px solid rgb(214, 211, 211);
   background-color: #fff;
}
.story-card5 img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.date{
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    background: rgb(60, 216, 232);
    padding: 7px 15px;
    border: none;
    border-radius: 50px;
    position: relative;
    bottom: 20px;
    left: 35px;
}
.story-details{
    padding: 30px;
}
.story-card-title{
    font-size: 1.5rem;
    padding: 15px 0px 25px 0px;
    line-height: 26px;
    font-weight: 600;
}
.story-card-details{
    color: rgb(102, 102, 102);
    font-size: 1rem;
    line-height: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    
}
.story-card{
    background-color: #fff;
    border-radius: 16px;
}
.carry{
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
    background: rgb(60, 216, 232);
    padding: 7px 15px;
    border: none;
    border-radius: 50px;
    position: relative;
    bottom: 20px;
    left: 30px;
}
.card-desc{
    text-align: center;
    line-height: 28px;
    padding: 10px;
    font-size: 1rem;
}
.story-card img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.view{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 60px;
}
.date-1{
    background-color: rgb(149, 178, 38);
}
.date-2{
    background-color: rgb(93, 88, 240);
}
.date-3{
    background-color: darkmagenta;
}
.date-4{
   background-color: goldenrod;
}
/* footer section start */
footer.footer{
    background-color: rgb(1, 172, 253);
   
}
.footer-content{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 50px;
    padding: 85px 90px 60px 30px ;

}
.footer-title{
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
}
.footer-desc{
    max-width: 400px;
    padding: 40px 0;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 26px;

}
.menu-title{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer-navbar ul li{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 15px;
}
.footer-navbar ul li a{
    color: #fff;
}
.social-icon{
    display: flex;
    gap: 10px;
}

/* responsive design style */
@media screen and (max-width: 576px) {
    .contact, .navBar{
        display: none;
    }
    .toggle-btn{
        display: block;
    }
    .logo{
        margin-bottom: 20px;
    }
    .menuBar{
        padding: 10px 20px;
        border-bottom: 1px solid orange;
    }
    .banner{
        flex-direction: column-reverse;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .banner-details{
        text-align: center;
        margin-top: 20px;
    }
    .curriculum-card{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .arrow-btn{
        display: none;
    }
    #box-1{
        display: none;
    }
    .story-content{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }
    .carry{
        font-size: 0.7rem;
        font-weight: 500;
        color: #fff;
        background: rgb(60, 216, 232);
        padding: 5px 10px;
        border: none;
        border-radius: 50px;
        position: relative;
        bottom: 18px;
        left: 10px;
    }
    .footer-content{
        flex-direction: column;
    }
}